<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
    <% include partials/template/header.ejs %>
    <% if(title == "Login") { %>
        <% include partials/content/login.ejs %>
    <% } %>
    <% if(title == "Register") { %>
        <% include partials/content/register.ejs %>
    <% } else { %>
        <div class="mainwrapper">
        <% include partials/content/home_menu.ejs %>
        <% if(title == "Home") { %>
            <% include partials/content/home.ejs %>
        <% } %>
        <% if(title == "Inventory") { %>
            <% include partials/content/inventory.ejs %>
        <% } %>
        </div>
    <% } %>


    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</body>
</html>
