<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
    <% include partials/template/header.ejs %>
    <% if(title == "Login") { %>
        <% include partials/content/login.ejs %>
    <% } else if(title == "Register") { %>
        <% include partials/content/register.ejs %>
    <% } else if(title == "Billing") { %>
        <% include partials/content/billing.ejs %>
    <% } else { %>
        <div class="mainwrapper">
            <% include partials/content/home_menu.ejs %>
            <% if(title == "Home") { %>
                <% include partials/content/home.ejs %>
            <% } %>
            <% if(title == "Inventory") { %>
                <% include partials/content/inventory.ejs %>
            <% } %>
            <% if(title == "Report") { %>
                <% include partials/content/report.ejs %>
            <% } %>
            <% if(title == "Bill Report") { %>
                <% include partials/content/bill.ejs %>
            <% } %>
        </div>
    <% } %>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</body>
</html>
