<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body>
    <% include partials/template/header.ejs %>
    <div class="mainwrapper">
        <% if(title == "Home") { %>
            <% include partials/content/home.ejs %>
        <% } %>
    </div>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
</body>
</html>
