@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat', sans-serif !important;
}
.nav-wrapper{
    padding-left: 15px;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.no_margin{
    margin: 0;
}
.mgt{
    margin-top: 2em;
}
.mainwrapper{
    flex: 1 0 auto;
}
.land{
    padding: 3em 0;
}
.logger{
    position: relative;
    top: -2em;
}
.login_title{
    padding: 2em;
    color: #fafafa;
}
.login_body{
    padding: 1em;
}
.background img{
    width: 100%;
}



.land-small{
    padding: 1em 0;
    margin: 0;
}
.tray{
    padding: 1em;
}
.tray a{
    margin: 0 1em;
}
