@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
    font-family: 'Montserrat', sans-serif;
}
.nav-wrapper{
    padding-left: 15px;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.no_margin{
    margin: 0;
}
.mgt{
    margin-top: 2em;
}
.awesomplete{
    width: 100%;
}
.awesomplete ul{
    z-index: 9999;
}
@media all {
 .page-break  { display: none; }
}

@media print {
 .page-break  { display: block; page-break-before: always; }
}
.mainwrapper{
    flex: 1 0 auto;
}
.land{
    padding: 3em 0;
}
.logger{
    position: relative;
    top: -2em;
}
.login_title{
    padding: 2em;
    color: #fafafa;
}
.login_body{
    padding: 1em;
}
.background img{
    width: 100%;
}



.land-small{
    padding: 1em 0;
    margin: 0;
}
.tray{
    padding: 1em;
}
.tray a{
    margin: 0 1em;
}



.lister{
    position: absolute;
    right: 2em;
    top: 2em;
}
.sckr{
    overflow-y: auto;
    height: 200px;
}
.sckr thead{
    background-color: #222d2f;
    color: #fafafa;
}

input[type=number][readonly="readonly"], input[type=text][readonly="readonly"], input[type=text][readonly="readonly"]+label, input[type=number][readonly="readonly"]+label{
    color: #26a69a;
}
input[type=number][readonly="readonly"], input[type=text][readonly="readonly"]{
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}
