<div class="main right grey darken-3">
    <div class="land-small card teal">
        <div class="center white-text">
            <h4>Reports</h4>
        </div>
    </div>
    <div class="row">
        <div class="s12 mgt">
            <div class="row">
                <div class="col s2"></div>
                <div class="col s8 card">
                    <div class="row mgt">
                        <div class="input-field col s12">
                            <input id="selector" type="date" class="datepicker">
                            <label for="selector">Select Date</label>
                        </div>
                    </div>
                </div>
                <div class="col s2"></div>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s10">
            <div class="card white">
                <table class="bordered highlight responsive-table">
                    <thead>
                        <tr>
                            <td class="center">Invoice. No.</td>
                            <td class="center">Doctor</td>
                            <td class="center">Patient</td>
                            <td class="center">NetTotal</td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col s1"></div>
    </div>
</div>

<style media="screen">
    td{
        text-align: center;
    }
</style>
